<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880978838887-k7pre52l0lujfr7n1c8t9a3n2cmsqfpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880978838887-k7pre52l0lujfr7n1c8t9a3n2cmsqfpl</string>
	<key>API_KEY</key>
	<string>AIzaSyDpQM_2nTzO8BGNKGI0MabeJx2cjgbr0kM</string>
	<key>GCM_SENDER_ID</key>
	<string>880978838887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oguz.mamamiUnutma</string>
	<key>PROJECT_ID</key>
	<string>mamami-unutma</string>
	<key>STORAGE_BUCKET</key>
	<string>mamami-unutma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880978838887:ios:85f4f5fa8594fadb8edbc2</string>
</dict>
</plist>